*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

header{
    height: 150px;
}

header h4{
    padding: 10px;
    background-color: #595d61;
    height: 50%;
}
.navigation { 
  display: flex;
  align-items: center;
 }

.navigation a {
    display: grid   ;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    flex: auto;
} 

.main{
    display: flex;
    height: 100%;
}

main{
    width: 70%;
    background-color: gray;
    height: 200px;
    padding: 10px;
    color: rgb(214, 212, 212);
}

aside{
    width: 30%;
    background-color: white;
    color: rgb(150, 147, 147);
    padding: 10px;
}

footer{
    text-align: center;
    background: #595d61;
    padding: 10px;
}


